<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Thành Công</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
</head>
<body>
	<div class="schedule-title">
		<div class="schedule-successful">[[${message}]]</div>
		 </br>
		<a th:href="@{/}" class="schedule-home">Quay lại trang chủ</a>
	</div>
	
	
	
</body>
</html>
